@use "../../styles/core/typography.scss";
@use "../../styles/core/colors.scss";

.widget-preview-card {
  display: flex;
  flex-direction: column;
  border: 2px solid colors.$green-500;
  padding: 8px;
  gap: 4px;

  width: 350px;

  &__header {
    font-size: typography.$fs-h3;
  }

  &__description {
    font-size: typography.$fs-p2;
  }

  &__footer {
    display: flex;
    justify-content: end;
  }
}
